.stall-jssdk__member-modal-container {
  .stall-modal-body {
    display: flex;
    justify-content: space-between;
    padding: 0;
    min-height: 300px;

    .left-section {
      padding: 20px 16px;
      width: 236px;
      box-shadow: inset -1px 0 0 0 #f0f1f3;
    }

    .right-section {
      flex: 1;
      padding: 20px;
    }
  }

  .stall-modal-footer {
    display: flex;
    justify-content: space-between;

    .right-section {
      .stall-btn-primary {
        margin-left: 12px;
      }
    }
  }
}
